{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}
<title>{{ category.name }}-L2PY</title>
{% endblock %}

{% block main %}
	<div class="col-sm-4 col-sm-offset-3">
		{% for article in articles %}
		<div class="contentbox1">
			<span class="author"><b>Enn</b></span>
			<span class="pub-time text-muted">{{ article.created_time }}</span>
			<h4><strong><a href="{{ url_for('.article', id=article.id) }}">{{ article.title }}</a></strong></h4>
			<p class="abstract">{{ article.abstract|safe }} <a href="{{ url_for('.article', id=article.id) }}"><i class="fa fa-hand-o-right"></i> <strong>阅读全文</strong></a><p>
			<div class="contentinfo">
				<a href="{{ url_for('.select_tutorial', id=category.id ) }}" ><span class="label label-default" style="display:inline-block"><i class="fa fa-book"></i> {{ article.category.name }}</span></a>
				<a href="{{ url_for('.article', id=article.id ) }}" ><span class="label label-default" style="display: inline-block"><i class="fa fa-eye"></i> 阅读量 {{ article.reading_time }}</span></a>
				<a href="{{ url_for('.article', id=article.id ) }}#comments" ><span class="label label-default" style="display: inline-block"><i class="fa fa-comments"></i> {{ article.comments_times() }} 评论</span></a>
			</div>
		</div>
		{% endfor %}

		{% if pagination %}
		<div class="pagination">
			{{ macros.pagination_widget(pagination, idx, id=category.id) }}
		</div>
		{% endif %}
	</div>
{% endblock %}